/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}*/

html {
  height: 100%;
}

body {
  height: 100%;
}

body > div:first-of-type {
  height: 100%;
}

a, a:hover {
  text-decoration: none;
}

button {
  margin: 0;
}

.row {
  margin: 0;
}

.invite-modal {
  top: 0;
}

.invite-modal.invite-modal-enter {
  top: 100%;
}

.invite-modal.invite-modal-enter.invite-modal-enter-active {
  top: 0;
  transition: all 300ms ease;
}

.invite-modal-leave {
  top: 0;
}

.invite-modal-leave.invite-modal-leave-active {
  top: 100%;
  transition: all 300ms ease;
}

.unread {
  background: rgba(0, 0, 0, 0.2) !important;
}

.unread:hover {
  background: rgba(0, 0, 0, 0.3) !important;
}
