@import 'bourbon/bourbon';

html {
  height: 100%;
}

body {
  height: 100%;

  .row {
    margin: 0;
  }

  &> div {
    height: 100%;
  }

  a, a:hover {
    text-decoration: none;
  }

  button {
    margin: 0;
  }
}

header {
  .dropdown-menu {
    left: inherit;
    right: 0;
  }

  .dropdown-toggle {
    cursor: pointer;
  }
}

.table {
  display: table;
  margin: 0;
  width: initial;
  .cell {
    display: table-cell;
    vertical-align: middle;
  }
}
