@import 'bourbon/bourbon';

html {
  height: 100%;
}

body {
  height: 100%;

  .row {
    margin: 0;
  }

  &> div {
    height: 100%;
  }

  a, a:hover {
    text-decoration: none;
  }

  button {
    margin: 0;
  }
}
